* {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

html {
  background-color: black;
}

body {
  margin: 10%;
}

#top {
  display: flex;
  justify-content: space-between;
}

#weekDate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -20%;
}

#time {
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -20%;
  margin-bottom: -20%;
}

#icon1 {
  width: 50%;
  height: 50%;
  margin-right: -10%;
  margin-top: -2%;
  margin-left: -5%;
}

#dailyTemp {
  margin-top: -10%;
}

#weather {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 390px;
}

#forecast {
  margin-left: 22%;
  margin-top: 4%;
}

#dailyWeather {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  margin-top: 10%;
  margin-bottom: -25%;
}

#greeting {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
  position: absolute;
  font-size: 1.5em;
  top: 80%;
}

#newsWrapper {
  overflow: hidden;
  height: 20%;
  width: 728px;
  margin: 0 auto;
  bottom: 30%;
  position: absolute;
  left: 20%;
  top: 80%;
}

#news {
  width: 2912px;
  -webkit-animation: slide 50s ease infinite;
}

.articles {
  margin-top: 10em;
  float: left;
  height: 510px;
  width: 728px;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
